		* {
    		box-sizing: border-box;
		}

		html {
			width: 100%;
			background-color: #F8F8FF;

		}
			
		h1 {
			font-family: 'Black Ops One', cursive;
			text-align: center;

		}

		p {
			font-family: sans-serif;
		}

		main{
			width: 70%;
			padding: 5px;
			font-family: sans-serif;
			font-size: 23px;
			background-color: #F5F5F5;
			margin: 1px auto;
			margin-top: 5px;
			margin-bottom: 5px;
			border-radius: 4px;
			border: solid 1px #BEBEBE;
		}

		form {
			margin-top: 5px;

		}

		label{

		}

		input {
			width: 100%;
			height: 30px;
			margin-top: 5px;
			margin-bottom: 5px;
			border-radius: 3px;
			border: solid 1px #BEBEBE;
		}

		button {
			width: 100%;
			height: 30px;
			border-radius: 2px;
			border:solid 1px #BEBEBE;
		}

		footer{
			background: #F5F5F5;
			height: 20%;
			border: solid 1px #BEBEBE;
			border-radius: 2px;
			text-align: center;
		}

		div {
			padding: 8px;
		}

		.container {
			width: 30%;
			color: black;
			margin-top: 2px;
			margin: auto;
		}

		.carga-horaria {
			display: flex;
			align-items: center;
			width: 15px;
			height: 15px;
		}

		#topo {
			background: #F5F5F5;
			height: 30%;
			border: solid 1px #BEBEBE;
			border-radius: 2px;
			width: 100%

		}

		@media only screen and (max-width: 762px) {
    		main{
    			width: 100%;
    			font-size: 20px;
    		}

    		form{
    			width: 100%;
    		}

    		input {
    			width: 100%;
    		}


    		.container {
    			width: 100%;
    		}
    		
    		.carga-horaria {
    			width: ;
    			height: 13px;

    		}
		}	